/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header, nav, h1, ul, li, div {
  margin: 0;
  padding: 0;
  border: 0;

  text-align: inherit;
  text-decoration: inherit;
  font: inherit;
  background: transparent;
  box-sizing: inherit;
  color: inherit;
}

body {
  background: #eee;
}

ul {
  list-style: none;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.header {
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.header-nav {
  padding: 20px 40px;
}

.header-logo {
  font-size: 36px;
  font-weight: bold;
  float: left;
  margin-right: 60px;
}

.header-list {
  float: left;
  display: block;
  font-size: 18px;
  padding-top: 12px;
  color: #aaa;
}
