/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, header, nav, h1, h3, ul, li, div, a {
  margin: 0;
  padding: 0;
  border: 0;

  text-align: inherit;
  text-decoration: inherit;
  font: inherit;
  background: transparent;
  box-sizing: inherit;
  color: inherit;
}

body {
  background: #ECF7F8;
  font-family: Helvetica;
}

ul {
  list-style: none;
}

li {
  text-decoration: inherit;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.header {
  background: #fff;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

.header-list a {
  display: block;
  padding: 15px;
}

.header-logo {
  font-size: 36px;
  font-weight: bold;
  float: left;
  margin-right: 40px;
  margin-left: 25px;
  color: #08088A;
}

.header-list {
  float: left;
  display: block;
  font-size: 18px;
}

.project-list-item {
  float: left;
  display: block;
  font-size: 24px;
  color: #5581AD;
  padding-top: 8px;
  padding-bottom: 5px;
}

.project-list-item:hover {
  transition: background 0.8s ease;
  background: #E0EAF5;

  cursor: pointer;
}

.project-index-item {
  display: block;
  width: 300px;
  height: 350px;
  border: 1px solid #000;
  float: left;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.project-index-item:hover {
  background: #1488D9;
  transition: background 0.8s ease;

}

.icon-title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  width: 300px;
  height: 350px;
  line-height: 350px;
  text-align: center;
}

.project-list {
  width: 1030px;
  margin: 0 auto;
}


.new-project {
  width: 900px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #4C5D69;
  border-radius: 5px;
}

.form-title h2 {
  font-size: 48px;
  font-weight: 200;
  display: block;
  text-align: center;
}

.new-project select {
  margin: 0 15px;
  width: 190px;
  height: 30px;
  font-size: 40px;
  padding-bottom: 10px;
}

.new-project label {
  font-size: 32px;
  font-weight: 300;
  display: block;
  text-align: center;
  margin: 40px 0;

}

.new-project input {
  width: 200px;
  height: 30px;
  font-size: 24px;
  padding-top: 10px;
  padding-left: 5px;
  vertical-align: middle;
  margin-left: 5px;
}

.new-project textarea {
  width: 425px;
  height: 120px;
  vertical-align: top;
  margin-left: 5px;
  font-size: 24px;
}

.new-project button {
  position: relative;
  margin-left: 400px;
  margin-bottom: 20px;
}

.detail {
  width: 1000px;
  margin: 0 auto;
}

.detail-header {
  display: block;
  margin-bottom: 50px;
}

.content-main {
  float: left;
  width: 690px;
}

.content-sidebar {
  float: left;
  width: 300px;
}

.project-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.project-author {
  font-size: 14px;
  text-align: center;
  color: #aaa;
}

.project-img {
  display: block;
  width: 95%;
  height: 400px;
  background: #79BBEA;
  margin-bottom: 50px;
}

.project-blurb {
  font-size: 24px;
}

.sidebar-info {
  padding: 20px 0;
}

.count {
  font-size: 36px;
  font-weight: bold;
}

.text {
  font-size: 14px;
  color: #aaa;
}
